@import url('http://fonts.cdnfonts.com/css/kenoky')
@import url('http://fonts.cdnfonts.com/css/cormorant-garamond')

$secondaryFont: Kenoky, Arial, Helvetica, sans-serif
$primaryFont: "Cormorant Garamond", "Times New Roman", Times, sans-serif

$gray: #dedede
$ashGray: #707070
$midGray: #b8b8b8
$darkGray: #1d1d1d
$yellow: #F8BC24
$mustard: #F58800
$green: #1A4645

//Dashboard colors
$darkGreen: #0B1D26
$lightGreen: #0E2733

::-moz-selection
  color: $ashGray
  background: yellow

::selection
  color: $ashGray
  background: lighten($yellow,30%)
